.grid-container {
  margin: 20px;
}
::ng-deep #form-container {
  margin: 10px;
}

::ng-deep .long-title h4 {
  font-family: "Segoe UI Light", "Helvetica Neue Light", "Segoe UI",
    "Helvetica Neue", "Trebuchet MS", Verdana;
  font-weight: 200;
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}
::ng-deep .long-title {
  display: flex;
}

::ng-deep
  .dx-layout-manager
  .dx-label-h-align.dx-flex-layout
  .dx-field-item-label {
  margin: auto;
}
:host ::ng-deep .mat-dialog-actions .mat-button + .mat-button {
  margin-left: 0px !important;
}

:host ::ng-deep .mat-dialog-actions {
  padding: 12px !important;
}

:host ::ng-deep .mat-button {
  text-align: left !important;
  margin: 4px !important;
  float: right !important;
}

:host ::ng-deep .app-loading .spinner {
  top: 60vh !important;
}

.mat-dialog-title-popup {
  border-bottom: 2px solid #2a3869 !important;
  color: #2a3869 !important;
  font-weight: 500 !important;
}
